<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="serilog:minimum-level" value="Warning" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
  
  <connectionStrings xdt:Transform="Replace">
    <add name="Banks" providerName="System.Data.SqlClient" connectionString="data source=mow04sql002;initial catalog=BanksDirectory;integrated security=True;" />
  </connectionStrings>
</configuration>