<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings xdt:Transform="Replace">
    <add name="Banks" providerName="System.Data.SqlClient" connectionString="data source=mow04sql002;initial catalog=Banks;integrated security=True;" />
  </connectionStrings>
</configuration>