<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="serilog:minimum-level" value="Warning" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
  
  <banksClient apiUrl="http://mow04pshhq1-1/banks/api" timeout="30" xdt:Transform="Replace" />
</configuration>